<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
         <title>Order Page</title>
         <style>
           body
	        {
	        background-color: blue;
	        }
	          .ui-layout-unit{
	             border: none;
	        }
	        .myLayoutStyleClass .ui-layout-unit-content{
	   			 background: #224455;
			}
         </style>
    </h:head>
    	
    	 <p:layout fullPage="true" styleClass="myLayoutStyleClass" style="min-width:800px;min-height:600px;">
	
		<p:layoutUnit position="north" style="background-color: orange" styleClass="myLayoutStyleClass" resizable="true" size="80" minSize="40" maxSize="400">
	        <h:panelGroup style="display:block; text-align:right;weight:bold;background-color:orange">
 			<h:outputLabel  value="Bine ai venit Andrei!" />
	   		</h:panelGroup>
	    </p:layoutUnit>
	    
	    <p:layoutUnit position="west"  minSize="100" maxSize="250" styleClass="myLayoutStyleClass" style="background-color: orange">
		 	<p:commandLink id="orders"><br/>
		         <h:outputText value="orders" />
		    </p:commandLink>
		    
		    <p:commandLink  id="products" ><br/>
		         <h:outputText value="Products" />
		    </p:commandLink>
	    </p:layoutUnit>
	 
	    <p:layoutUnit position="center" styleClass="myLayoutStyleClass" style="background-color: orange" id="layout">
	        
	        
	        <div id="orderDiv">
	         	<p align="center"  style="color:blue;">Orders</p>

	         <h:form id="ordersForm">
	         <p:dataTable id="ordersTable" var="order" value="#{orderBean.orders}">
	       		<p:column selectionMode="multiple" style="width:16px;text-align:center"/>				    		
				<p:column headerText="Order Id:" >
						        <h:outputText value="#{order.id}"  />
				</p:column>
				</p:dataTable>
			</h:form>		 
		    </div>

			<p:spacer></p:spacer> 			
	    </p:layoutUnit>
	    
	    <p:layoutUnit styleClass="myLayoutStyleClass" position="south " size="40" minSize="20" maxSize="60" style="background-color: orange">
	     	<h:outputText id="footer" value="Pentalog 2014 &copy;" style="float:right;margin-right:100px"/> 
	    </p:layoutUnit>
	 </p:layout>
</html>