<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
    <f:view contentType="text/xhtml">
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <title>JSF 2, Spring Web Flow, and PrimeFaces</title>           
        </h:head>
        <h:body>
            <div class="container">
                <div>
                    <h1>JSF 2, PrimeFaces, and Spring Web Flow</h1>
                    <h3 class="alt">
                    <ui:insert name="title"/>
                    </h3>
                    <hr/>
                </div>
                <div>
                    <ui:insert name="content"/>
                </div>
            </div>
        </h:body>
    </f:view>
</html>